//META{"name":"Winter_Wonderland","description":"A mystical, purple theme with customizable colors & background! Based on Clearvision Amethyst.","author":"Winter","version":"1.5.10"}*//{}

/* "Winter Wonderland v1" by Winter */
/* Based on "Discord Reborn v4.30" by @Omniscient, "Clearvision Amethyst" by @Zerthox & "DarkMatter" by @Hammock */

/* IMPORT CSS FROM GITHUB */
@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
@import url(https://autumnclove.github.io/Winter-Wonderland-BD-Theme/Winter_Wonderland_min.css);
@import url(https://intrnl.github.io/discordcustomizations/titlebarRevert/dist/themefile.css);
@import url(https://satoru8.github.io/FullSizePfp/FullSizePfp.css);

/* 
change color and brightness with these settings below 
I guess some people can't figure this out but to change just adjust 
--hover-color: can use any color format really hsla rgba hex same for 
--main-color: 
If you don't know what color you want use this picker: http://hslpicker.com/ 
to change stuff like your background image and home icon and user pop out image, just change the link inside url() MUST BE HTTPS:// 
 */

:root {
  --hover-color: violet;
  --main-color: hsla(265, 100%, 50%, 1);
  --background-blur: 0px;
  --background-brightness: 100%;
}

body::after,
.backdrop-1ocfXc,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
	background: url(https://i.imgur.com/rK8UnE4.jpg) !important; /* url link must be https, change it to change your themes background */
}

/* lets us customize our home icon */
.homeIcon-1FoKUJ, .homeIcon-1FoKUJ:hover {
  background-image: url(https://i.pinimg.com/736x/5c/df/52/5cdf522c003ac1bc8c4c151bcacee778.jpg) !important; /* url link must be https, change it to change your home icon*/
  color: transparent;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: 50px;
}

/* lets us customize our user pop outs */
.userPopout-3XzG_A {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapercave.com/wp/LUIiAJe.jpg) center/cover !important; /* url link must be https, change it to change your user pop-outs*/
}

/* Custom Bot tag colors */
.botTagRegular-2HEhHi{
  background: var(--hover-color) !important;
  color: var(--main-color) !important;
}